@media(max-width: 1200px){
    .section-1{
        max-width: 960px;
        width: 100%;
        height: 862px;
        flex-direction: column;
    }
    .section-1-paragraph{
        height: 348px;
        align-items: center;
        margin: 82px auto;
    }
    .section-1-image{
        height: 450px;
        width: 100%;
        margin: 0 auto; 
        height: 100%;
        background-image: url("../images/img-section1-1024.svg");
        border-radius: 12px;
    }
    .section-2{
        margin-top: 32px;
        max-width: 1200px;
        height: 254px;
    }
    .section-3{
        height: 855px;
        width: 100%;
        flex-direction: column;

    }

    .image-section-3{
        height: 550px;
        max-width: 960px;
        width: 100%;
        border-radius: 12px;
        margin: 32px;
        background-image: url('../images/section-3-img-1024.png');
        background-size: auto;
    }
    .section-3-h{
        margin-left: 32px;
        height: 96px;
  
    }

    .section-3-content{
        margin-left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    ;
    }

    .section-3-container{
        width: 516px;
        margin-right: 32px;
    }
    .section-4{
        justify-content: space-between;
    }
    .section-5{
        width: 1024;
        height: 588px;
        background-image: url('../images/cta1200.png');
        background-size:cover;
    }
    .display-logo{
        display: initial;
    }
    .version-first-logo{
        display: none;
    }
    .footer-brand-container{
        flex-direction: column;
    }
 
}
@media(max-width:960px){
 
    .section-1{
        max-width: 744px;
        width: 100%;
        height: 760px;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .section-1-header{
        width: 696px;
        font-size: 40px;
        line-height: 49px;
    }
    .section-1-p{
        width: 696px;
        font-size: 14px;
   }
    
   .comment{
        width: 696px;
        line-height: 28px;
   }
    .section-1-container{
        flex-direction: column;
        align-items: center;
    }
    .section-1btn{
        margin-bottom: 24px;
    }
   
    .section-1-image{
        height: 499px;
        width: 696px;
        margin: 0 auto; 
        background-image: url("../images/img-section1-1024.svg");
        border-radius: 12px;
        background-size: cover;
    }
    .section-2{
        max-width: 960px;
        height: 414px;
        flex-direction: column;
        margin: 0;
    }
    .feature{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
    }
    .section-3{
        height: 917px;
        width: 100%;
        padding: 24px;
    }
    .image-section-3{
        background-image: url("../images/section-3img.svg");
        height: 550px;
        width: 696px;
        border-radius: 12px;
        padding: 10px;
        background-size: cover;
    }
    .section-3-content, .section-3-container{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .section-4{
        justify-content: center;
    }
    .child-3th{
        display: none;
    }
    .section-4-container{
        height: 316px;
        width: 340px;
        margin-left: 24px;
    }
    .section-5{
        width: 100%;
        height: 500px;
        background-image: url('../images/cta960.png');
        background-size:cover;
    }

}
@media (max-width:744px) {
   .navigation{
    height: 65px;
   }
   .burger-bar{
    display: flex;
    padding-right: 24px;
   }
   .nav-ul{
    display: none;
   }
   .button-first{
    display: none;
   }
   .section-1{
    height: 695px;
    width: 100%;
   }
   .section-1-header,.section-1-p, .comment{
    width: 327px;
   }
   .section-1-paragraph{
    margin-bottom: 24px;
   }
   .section-1-image{
    background-image: url("../images/img.svg");
    width: 327px;
    background-size:cover;
    border-radius: 12px; 
    }
    .section-2{
        height: 510px;
    }
    .section-3{
        height: 523px;
    }
    .image-section-3{
        background-image: url("../images/imgsect3-744.png");
        height: 195px;
        width: 327px;
        border-radius: 12px;
        padding: 10px;
        background-size: cover;
    }
    .section-3-content{
        width: 327px;
    }
    .section-3-h{
        font-size: 16px;
        font-weight: 900;
        line-height: 32px;
    }
    .section-3-p,.section-3-ul{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .child-2nd{
        display: none;
    }
    .section-4-container{
        margin: 0;
    }
    .section-4{
        justify-content: space-around;
    }
  
    .section-5{
   
        height: 500px;
        background-image: url('../images/cta744.png');
        background-size: cover;
    }
    .display-logo{
        display: none;
    }
    .version-first-logo{
        display: initial;
    }
    footer{
        flex-direction: column;
        align-items:center;
        text-align: center;
    }
    .footer-columns{
        margin-top: 25px;
        width: 80%;
    }
}

