/* adding navigation style */
.navigation{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-ul{
    display: flex;
}
.nav-logo{
    margin-left: 32px;
    width: 101px;
}

.button{
    width: 100px;
    height: 48px;
    margin-right: 32px;
    border-radius: 32px;
    background-color: black;
    color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-li{
    padding-left: 24px;
}
.nav-a{
    color: #000000;
    font-size: 16px;
    line-height: 19px;
}
/* styleing section first */
.section-1{
    margin: 64px auto;
    width: 1110px;
    height: 428px;
    display: flex;
}
.section-1-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-1-header{
    font-size: 56px;
    line-height: 60px;
    color: #000000; 
}
.section-1-p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 44px;
}
.section-1-container{
    display: flex;
}
.comment{
    font-size: 14px;
    line-height: 20px;
    color:#000000;
    width: 236px;
}
.section-1btn{
    margin-right: 20px;
}