/* adding navigation style */
body{
    font-family: 'Inter', sans-serif;
}
.navigation{
    height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.burger-bar{
    display: none;
}

.nav-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-logo{
    margin-left: 32px;
    width: 101px;
}

.button{
    width: 100px;
    height: 48px;
    margin-right: 32px;
    border-radius: 32px;
    background-color: black;
    color: #F3F3F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-li{
    padding-left: 24px;
}
.nav-a{
    color: #000000;
    font-size: 16px;
    line-height: 19px;
}
/* styling section first */
.section-1{
    margin: 64px auto;
    width: 1110px;
    height: 428px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section-1-paragraph{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width:490px;
    margin-right:115px ;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-1-header{
    font-size: 56px;
    line-height: 60px;
    color: #000000; 
    margin-bottom: 24px;
    font-weight: 900;
}
.section-1-p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 44px;
    font-weight: 400;
}

.section-1-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.comment{
    font-size: 14px;
    line-height: 20px;
    color:#000000;
    width: 236px;
    font-weight: 600;
}
.section-1btn{
    margin-right: 20px;
}
.section-1-image{
    background-image: url("../images/img-section-1.svg");
    width: 490px;
    height: 330px;
    background-size:cover;
    border-radius: 12px; 
}
/* styling second section */
.section-2{
    height: 256px;
    background-color: #F3F3F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.feature{
    width: 30%;
    margin-left: 1%;
}
.cyrcle{
    background-color: #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.section-2-h{
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    font-weight: 700;
      
}
.section-2-p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* styling 3th section */
.section-3{
    height: 620px;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    color: #FFF;
}
.image-section-3{
    background-image: url("../images/section-3img.svg");
    height: 428px;
    width: 503.5px;
    border-radius: 12px;
    padding: 10px;
    background-size: cover;
}
.section-3-content{
    width: 442px;
    margin-left: 133px;
}
.section-3-h{
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 16px;
}
.section-3-p{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
}

.section-3-ul{
    list-style-type: circle;
    
}

/* styling 4th section */
.section-4{
    height: 508px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section-4-container{
    max-width: 360px;
    width: 100%;
    height: 316px;
    margin: 30px;
    background-color: #F3F3F3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px;
}

.section-4-img{
    width: 64px;
    height: 64px;
}

.section-4-p{
    font-size: 18px;
    line-height: 28px;
}

.section-4-user{
    font-size: 16px;
    line-height: 24px;
}
.section-4-desc{
    font-size: 14px;
    line-height: 20px;   
}
.user-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
/* styling 5th section */
.section-5{
   
    height: 588px;
    background-image: url('../images/cta.svg');
    background-size: cover;
}

/* styling footer */
.footer-brand-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-logo{
    width: 87px;
    height: 27px;
}
footer{
    padding: 45px 32px;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color:#FFF;
}
.footer-columns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 55%;
}
.display-logo{
    display: none;
}
.footer-p{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 16px;
}
.footer-li{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
input{
    max-width: 360px;
    width: 100%;
    height: 48px;
    background-color: rgb(255, 255, 255, 0.15);
    border: none;
    border-radius: 40px;
    padding: 12px 24px;
    margin-bottom: 20px;
    color: #FFF;
}

.sub-p{
    max-width: 360px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: grey;
}
.footer-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    align-items: center;
   

}
.fa-paper-plane{
    position: absolute;
    -webkit-transform: translate(-30px,-15px);
        -ms-transform: translate(-30px,-15px);
            transform: translate(-30px,-15px);
}

